/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
ul,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Body */
:root {
  --clr-header: hsl(0, 0%, 15%);
  --clr-header-light: hsl(0, 0%, 44%);
  --clr-accent: hsl(194, 100%, 50%);
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-header);
}
.container {
  --max-width: 1200px;
  --padding: 3rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
  margin: auto;
}
.even-columns {
  display: grid;
  gap: 1rem;
  justify-content: center;
}

/* nav */
.header {
  padding-top: 1rem;
}
.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}
.logo {
  color: var(--clr-header);
  padding: 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  z-index: 3;
}
.nav-element {
  padding: 0 1rem;
}

.nav-element a {
  color: var(--clr-header);
  font-size: 1.2rem;
  background: rgb(0, 194, 255);
  background: linear-gradient(
    225deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(38, 38, 38, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 3px;

  transition: background-size 300ms ease;
}

.nav-element a:hover,
.nav-element a:focus {
  /* color: var(--clr-header-light); */

  background-size: 100% 3px;
}

.mobile-nav-toggle {
  background: none;
  border: none;
  display: none;
  position: relative;
  /* padding: 0; */
}

.contact-button {
  background: rgb(0, 194, 255);
  background: linear-gradient(
    225deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(38, 38, 38, 1) 100%
  );
  border: none;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
  z-index: 1;
}

.contact-button {
  background: linear-gradient(
    50deg,
    var(--clr-accent),
    var(--clr-header),
    var(--clr-header),
    var(--clr-accent)
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
}

.contact-button:hover,
.contact-button:focus {
  background-position: 0 0;
}

/* nav desktop first */
@media (max-width: 50em) {
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    z-index: 2;
    /* position: fixed;
    top: 1rem;
    right: 1rem; */
  }
  .icon-close[data-visible] {
    display: none;
  }
  .nav {
    display: none;
  }
  body[data-visible] {
    overflow: hidden;
  }
  .nav[data-visible] {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    background: hsl(194, 100%, 90%);
    /* opacity: 50%; */
    /* border: 5px solid var(--clr-header); */
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .nav-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
}

/* main */
.hero {
  padding: 5% 0;
  height: clamp(42rem, calc(100vh - 64px), 100rem);
  display: flex;
  align-items: center;
}
.portrait {
  /* max-width: 15rem; */
  width: clamp(1rem, 75%, 20rem);
  display: inline;
  margin: auto;
}
.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  /* max-width: 100%; */
  font-size: 2.7rem;
  font-weight: 600;
}
.wave-emoji {
  max-width: 5rem;
  display: inline;
  position: relative;
  top: 1rem;
}
.subtitle {
  font-size: 1rem;
  color: var(--clr-header-light);
}
.hero-tools {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  /* flex-direction: row; */
}
.hero-tool {
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-tool-name {
  margin-top: 1rem;
}

/* Projects */

h2 {
  font-size: 2rem;
  font-weight: 800;
  width: auto;
  text-align: center;
}
.projects {
  margin: 1rem 0;
}
.projects-title {
  margin-bottom: 2rem;
}
.project {
  width: clamp(17rem, 75%, 35rem);
  margin: auto;
  margin-bottom: 3rem;
  position: relative;
}

.project-photo {
  display: block;
  width: 100%;
}
.project-photo-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  color: white;
  font-family: "Open Sans", sans-serif;

  opacity: 0;
  transition: opacity 0.25s;
}
.project-photo-overlay:hover,
.project-photo-overlay:focus {
  opacity: 1;
}
.project-title {
  font-size: 2rem;
}
.project-description {
  font-size: 1rem;
}

.project-icons {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}
.project-icons img {
  width: 2.5rem;
  filter: brightness(87%);
  cursor: pointer;
}

/* About */
.about {
  margin: 5rem 0;
}
.about-text {
  margin: 2rem 0;
  font-family: "Open Sans", sans-serif;
  color: var(--clr-header-light);
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials img {
  width: 3rem;
}
.socials a {
  padding: 0 0.5rem;
}

/* Main Media Query */
@media (min-width: 50em) {
  .hero .even-columns {
    grid-auto-columns: 1.5fr 1fr;
  }
  .even-columns {
    grid-auto-flow: column;
    gap: 5rem;
  }
  .container {
    padding: 0 2rem;
  }
  /* nav */
  .logo {
    font-size: 1.2rem;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }
  /* main */
  .hero {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .portrait {
    order: 2;
    width: 100%;
  }
  .title {
    font-size: 3.3rem;
  }
  .subtitle {
    font-size: 1.25rem;
  }
  .hero-tools {
    margin-top: 3rem;
    gap: 1rem;
  }
  .hero-tool {
    width: 5rem;
  }

  /* projects */
  .project {
    width: auto;
    margin: auto;
    margin-bottom: 3rem;
  }
  .projects .even-columns {
    grid-template-rows: 1fr 1fr;
  }
}
/* Larger */
@media (min-width: 72.5em) {
  .title {
    font-size: clamp(4rem, 7vw, 5.2rem);
  }
  .subtitle {
    font-size: 1.6rem;
  }
  .hero-tools {
    margin-top: 3rem;
    gap: 3rem;
  }
  .hero-tool {
    width: 7rem;
  }
  .hero-tool-name {
    font-size: 1.25rem;
  }
}
