/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
ul,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
html {
  scroll-behavior: smooth !important;
}
/* Body */
:root {
  --clr-header: hsl(0, 0%, 85%);
  --clr-header-light: hsl(0, 0%, 74%);
  --clr-accent: hsl(194, 100%, 50%);
  --clr-accent-muted: hsl(194, 100%, 30%);
  --clr-background: hsl(200, 6%, 10%);
  --clr-about: hsl(0, 0%, 35%);

  --github-logo: url(/images/icons/github-light.svg);
  --external-link: url(/images/icons/external-link-light.svg);
  --twitter-logo: url(/images/icons/twitter.svg);
  --linkedin-logo: url(/images/icons/linkedin.svg);
  --hamburger: url(/images/icons/menu-light.svg);
}
[data-theme="dark"] {
  --clr-header: hsl(0, 0%, 15%);
  --clr-header-light: hsl(0, 0%, 44%);
  --clr-accent: hsl(194, 100%, 50%);
  --clr-accent-muted: hsl(194, 100%, 90%);
  --clr-background: #ffffff;
  --clr-about: hsl(0, 0%, 85%);
  --github-logo: url(/images/icons/github.svg);
  --external-link: url(/images/icons/external-link.svg);
  --hamburger: url(/images/icons/menu.svg);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-header);
  background: var(--clr-background);
}
.container {
  --max-width: 1200px;
  --padding: 3rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
  margin: 0.5rem auto;
}
.even-columns {
  display: grid;
  gap: 1rem;
  justify-content: center;
}

/* nav */
.header {
  padding-top: 1rem;
}
.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}
.logo {
  color: var(--clr-header);
  padding: 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  z-index: 3;
}

.icon-hamburger {
  width: 22.68px;
  height: 21.42px;
  background: var(--hamburger) center / cover;
}
.linkedin-logo {
  width: 50px;
  height: 50px;
  background: var(--linkedin-logo);
}
.twitter-logo {
  width: 50px;
  height: 50px;
  background: var(--twitter-logo);
}
.nav-element {
  padding: 0 1rem;
}

.nav-element-link {
  color: var(--clr-header);
  text-decoration: none;
  font-size: 1.2rem;
  background: var(--clr-accent);
  background: linear-gradient(225deg, var(--clr-accent), var(--clr-header));
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 3px;

  transition: background-size 300ms ease;
}

.nav-element-link:hover,
.nav-element-link:focus {
  /* color: var(--clr-header-light); */

  background-size: 100% 3px;
}

.mobile-nav-toggle {
  background: none;
  border: none;
  display: none;
  position: relative;
  /* padding: 0; */
}

.contact-button {
  background: rgb(0, 194, 255);
  background: linear-gradient(
    225deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(38, 38, 38, 1) 100%
  );
  border: none;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  z-index: 1;
}
.contact-button a {
  color: var(--clr-background);
}

.contact-button {
  background: linear-gradient(
    50deg,
    var(--clr-accent),
    var(--clr-header),
    var(--clr-header),
    var(--clr-accent)
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
}

.contact-button:hover,
.contact-button:focus {
  background-position: 0 0;
}

/* nav slider */
.theme-switch-wrapper {
  order: 2;
  display: flex;
  align-items: center;
  margin: 0 1vw;
  /* em {
    margin-left: 10px;
    font-size: 1rem;
  } */
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--clr-accent);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider.round:before {
  border-radius: 50%;
}
.toggle-icons {
  display: flex;
  justify-content: space-between;

  gap: 0.3rem;

  align-items: center;

  height: 23px;
  width: 23px;
  margin: 0 5px;

  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* nav desktop first */
/* the mobile stuff */
@media (max-width: 54em) {
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    z-index: 2;
    /* position: fixed;
    top: 1rem;
    right: 1rem; */
  }
  .icon-close[data-visible] {
    display: none;
  }
  .nav {
    display: none;
  }
  body[data-visible] {
    overflow: hidden;
  }
  .nav[data-visible] {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    background: var(--clr-accent-muted);
    /* opacity: 50%; */
    /* border: 5px solid var(--clr-header); */
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .nav-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
}

/* main */
.hero {
  margin: 5% 0;
  padding: 5% 0;
  /* height: clamp(20rem, calc(100vh - 64px), 100rem); */
  /* height: calc(100vh - 64px); */
  display: flex;
  align-items: center;
}
.portrait {
  /* max-width: 15rem; */
  width: clamp(1rem, 75%, 20rem);
  display: inline;
  margin: auto;
}
.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  /* max-width: 100%; */
  font-size: 2.7rem;
  font-weight: 600;
}
.wave-emoji {
  max-width: 5rem;
  display: inline;
  position: relative;
  top: 1rem;
}
.subtitle {
  font-size: 1rem;
  color: var(--clr-header-light);
}
.hero-tools {
  width: 100%;
  margin-top: 2rem;
  /* display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 70px); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;

  /* flex-direction: row; */
}
.hero-tool {
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease 0.2s;
}
.hero-tool-image {
  background: #262626;
  border: 10px solid #262626;
  border-radius: 100rem;
}
.nextjs {
  border: 15px solid #262626;

  /* width: 4.5rem; */
}

.hero-tool:hover {
  transform: translateY(-5px);
}

.hero-tool-name {
  margin-top: 1rem;
}

/* Projects */

h2 {
  font-size: 2rem;
  font-weight: 800;
  width: auto;
  text-align: center;
}

.projects-title {
  margin-bottom: 2rem;
}
.project {
  width: clamp(17rem, 75%, 35rem);
  margin: 0 auto;
  margin-bottom: 3rem;
}

.project-photo {
  display: block;
  width: 100%;
  border-radius: 15px;

  transition: opacity 500ms ease 0s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all ease 0.2s;
}

.project-photo:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.project-photo-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;

  transition: opacity 0.25s;
}
.text-link {
  color: var(--clr-header-light);
}
.project-title {
  font-size: 2rem;
}
.project-description {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--clr-header-light);
  font-family: "Open Sans", sans-serif;
}

.project-icons {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}
.project-icons img {
  width: 2.5rem;
  filter: brightness(87%);
  cursor: pointer;
}
/* .github-logo,
.external-link {
  transition: all ease 0.2s;

}
.github-logo:hover,
.external-link:hover {
  transform: translateY(-2px);
} */

.github-logo {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(87%);
  cursor: pointer;
  background: var(--github-logo) center / cover;
}
.external-link-a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.external-link {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(87%);
  cursor: pointer;
  background: var(--external-link) center / cover;
}
/* About */
.about {
  background: var(--clr-about);
  padding: 2rem 0;
}
.about .container {
  margin-bottom: 0;
}
.about-text {
  margin: 2rem auto;
  max-width: 70ch;
  font-family: "Open Sans", sans-serif;
  color: var(--clr-header-light);
  /* text-align: center; */
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials img {
  width: 3rem;
}
.socials-github-logo {
  width: 3rem;
  height: 3rem;
}
.socials a {
  padding: 0 0.5rem;
}

/* Main Media Query */
@media (min-width: 54em) {
  .hero .even-columns {
    grid-auto-columns: 1.5fr 1fr;
    grid-auto-flow: column;
  }
  .even-columns {
    gap: 0 5rem;
  }
  .container {
    padding: 0 2rem;
  }
  /* nav */
  .logo {
    font-size: 2rem;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }
  /* main */
  .hero {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .portrait {
    order: 2;
    width: 100%;
  }
  .title {
    font-size: 3.3rem;
  }
  .subtitle {
    font-size: 1.25rem;
  }

  .hero-tools {
    margin-top: 3rem;
    gap: 0.7rem;
  }
  .hero-tool {
    width: 5rem;
  }

  /* projects */

  .projects {
    margin: auto;
  }
  .project-photo {
    width: 40vw;
  }
  .project {
    width: 100%;

    margin: 0 auto;
    margin-bottom: 3rem;

    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; */
  }
  .project-photo-overlay {
    max-width: 30vw;

    margin-right: 0;
    margin-left: 0;
    margin: 0 auto;
  }
  .projects .even-columns {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    grid-auto-flow: row;
  }

  /* align-items: start;
    justify-items: start;
  }
}
/* Larger */
  /* @media (min-width: 72.5em) {
  .title {
    font-size: clamp(4rem, 7vw, 5.2rem);
  }
  .subtitle {
    font-size: 1.6rem;
  }
  .hero-tools {
    margin-top: 3rem;
    gap: 3rem;
  }
  .hero-tool {
    width: 7rem;
  }
  .hero-tool-name {
    font-size: 1.25rem;
  }
} */
}
